//
footer{
    width: 80%;
    margin-left: 10%;
}

.my_wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 300px;
}

.song_name{
    color: #b4b4b4;
}

.my_wrap_2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.audio-player{
    width: 250px;

}

.more{
    width: 20px;
    position: relative;
    left: 100px;
}

.audio-player_more{
    width: 500px;
}

.image{
    box-shadow: 10px 10px 10px #636b6f;
}

.paginate{
    margin: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row_my{
    padding-left: 40px;
}
